
.imgbox {
  text-align: center;
}

.zoom {
  max-width: 100%;
  max-height: 100vh;  
}

.center-left {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  opacity: 0;
}

.center-left:hover {
  opacity: 1.0;
}


.center-right {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  opacity: 0;
}

.center-right:hover {
  opacity: 1.0;
}

