
.title {
align: center;
font-family: 'Pinyon Script', cursive;
font-size: 100px;
}

.normal {
margin-left: 50px;
margin-right: 50px;
font-family: Georgia, serif;
font-style: normal;
}

.day {
color: red;
font-family: 'Pinyon Script', cursive;
font-size: 25px;
}

.month {
color: red;
font-family: 'Pinyon Script', cursive;
font-size: 50px;
}

.year {
color: red;
font-family: 'Pinyon Script', cursive;
font-size: 75px;
}



.highlight_yellow {
background-color: yellow;
}
.highlight_lime {
background-color: lime;
}
.highlight_aqua {
background-color: aqua;
}
.highlight_magenta {
background-color: magenta;
}
.highlight_blue {
background-color: blue;
}
.highlight_red {
background-color: red;
}
.highlight_navy {
background-color: navy;
}
.highlight_teal {
background-color: teal;
}
.highlight_green {
background-color: green;
}
.highlight_purple {
background-color: purple;
}
.highlight_maroon {
background-color: maroon;
}
.highlight_olive {
background-color: olive;
}
.highlight_gray {
background-color: gray;
}
.highlight_silver {
background-color: silver;
}
.highlight_black {
background-color: black;
}
