.highlight_yellow {
color: yellow;
}
.highlight_lime {
color: lime;
}
.highlight_aqua {
color: aqua;
}
.highlight_magenta {
color: magenta;
}
.highlight_blue {
color: blue;
}
.highlight_red {
color: red;
}
.highlight_navy {
color: navy;
}
.highlight_teal {
color: teal;
}
.highlight_green {
color: green;
}
.highlight_purple {
color: purple;
}
.highlight_maroon {
color: maroon;
}
.highlight_olive {
color: olive;
}
.highlight_gray {
color: gray;
}
.highlight_silver {
color: silver;
}
.highlight_black {
color: black;
}
